@import '../../../constants/CssVariables.scss';

.navbar {
    background-color: $PRIMARY_COLOR;
    min-height: 4.25rem;
    z-index: 0;
    border-top: 3px solid $HIGHLIGHT_COLOR;

    &-end {
        margin-right: 1rem;
    }

    &-link {
        color: $FONT_COLOR_DEFAULT !important;
        &:hover {
            background-color: $SECONDARY_COLOR !important;
        }
    }

    &-link:not(.is-arrowless)::after {
        border-color: $FONT_COLOR_DEFAULT;
        margin-top: -.375em;
        right: 1em;
    }
    
    &-menu {
        margin-top: 10px;
    }

    &-dropdown {
        border-radius: 5px;
        border: 1px solid $HIGHLIGHT_COLOR;
        background-color: $FONT_COLOR_DEFAULT;
        .navbar-item:hover * {
            color: $HIGHLIGHT_COLOR;
        }
    }

    &-burger {
        color: $FONT_COLOR_DEFAULT;
    }

    &-item {
        cursor: pointer;
        & img {
            max-height: 50px;
            border-radius: 50%;
        }
    }
}

.profile-options {
    padding: 5px 10px 5px 5px;
}

input[type="text"] {
    border-radius: 25px;
    width: 400px;
    background-color: $FONT_COLOR_DEFAULT !important;
}

.control.has-icons-left .icon {
    color: #a7a4a4;
}