@import '../../configs/CssVariables.scss';

.form {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        padding-left: 0.5em;
    }

    input[type="email"],
    input[type="password"],
    label 
    {
        font-size: 12px;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    label {
        color: $FONT_COLOR_DEFAULT;
        display: block;
        letter-spacing: 0.5px;
        padding-left: 0.5em;
    }

    label::after {
        content: "*";
        display: inline-block;
        position: relative;
        color: $DANGER;
        padding: 1px;
    }

    &-button__wrapper {
        display: flex;
        margin-top: 0.5em;

        button {
            margin: auto;
        }
    }
}