form {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        padding-left: 0.5em;
    }

    input[type="text"],
    input[type="password"],
    label 
    {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
            'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
            sans-serif;
        font-size: 12px;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    label {
        display: block;
        letter-spacing: 0.5px;
        padding-left: 0.5em;
    }

    label::after {
        content: "*";
        display: inline-block;
        position: relative;
        color: red;
        padding: 1px;
    }

    .form-button__wrapper {
        display: flex;
        margin-top: 0.5em;
    }

    .form-button__wrapper button {
        margin: auto;
    }
}