@import '../../configs/CssVariables.scss';

.side-navbar {
    display: block;
    position: fixed;
    left: 10px;
    bottom: 10px;
    border-radius: 6px;
    width: 200px;
    height: 90%;
    z-index: 100000;
    background: linear-gradient(25deg, #1f4d48a2, #004365);
    animation: shadow-glow 2s infinite alternate-reverse;
    
    * {
        color: $FONT_COLOR_DEFAULT;
    }

    &-brand {
        display: flex;
        align-items: center;
        min-height: 4.25rem;
        border-bottom: 1px solid $HIGHLIGHT_COLOR;
    }

    &-menu {
        flex-direction: column;
        box-shadow: none;
        background-color: transparent;
    }

    &-item {
        display: block;
        
        .nav-icon {
            width: 25px;
            &-text {
                text-decoration: none;
            }
        }

        &:hover * {
            color: $FONT_COLOR_DEFAULT;
            text-shadow: 1px 1px 5px $HIGHLIGHT_COLOR;
        }
    }
}

@keyframes shadow-glow {
    0% {
        box-shadow: $BOX_SHADOW_PRIMARY 0px 7px 20px 0px;
    }
    100% {
        box-shadow: $BOX_SHADOW_PRIMARY 0px 5px 29px 0px;
    }
}

.app-logo {
    height: 50px;
    pointer-events: none;
  }
  
@media (prefers-reduced-motion: no-preference) {
    .app-logo {
        animation: app-logo-spin infinite 20s linear;
    }
}

@keyframes app-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}